.conversionPage{
    width: 100%;
    height: 100vh;
    position: relative;
}
.exchangeBox{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 65%;
    top: 1%;
    margin-left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
}
.sumCurrencyInput {
    width: 40%;
}

.resultBlock{
    width: 60%;
    overflow-y: scroll;
}
.conversionResult{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;

}
.conversionResult :active{
    background-color: darkorange;
}
.currencyBlock{
    width: 40%;
    text-align: center;
}
.sumBlock{
    width: 50%;
    text-align: left;

}
.selectedTarger {
    background-color: darkorange;
}