.historicalPage{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}
.calendarBox{
    position: absolute;
    text-align: center;
    width: 90%;
    height: 65%;
    top: 1%;
    margin-left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;

}
.datePicker{
    width: 50%;

}
.historicalRates{
    width: 50%;

}
.historicalRatesToShow{
    width: 90%;
    height: 100%;
    overflow-y: scroll;
}